# -------------------------
# Python cache / artifacts
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# -------------------------
# Virtual environments
# -------------------------
sci_venv/
venv/
.venv/

# -------------------------
# Build & packaging
# -------------------------
build/
dist/
*.egg-info/
*.whl

# -------------------------
# Project output directories
# (not part of repository)
# -------------------------
results/
data/

# -------------------------
# Testing
# -------------------------
.pytest_cache/

# -------------------------
# IDE / Editor
# -------------------------
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# -------------------------
# GitHub
# -------------------------
.git/

# -------------------------
# PyPI
# -------------------------
.pypirc

# -------------------------
# More
# -------------------------
Release/
