# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# --- Build artifacts ---
build/
dist/
*.egg-info/

# --- Virtual environments ---
venv/
sci_venv/
.env/
.venv/

# --- Results ---
results/

# --- Logs ---
*.log

# --- Jupyter ---
*.ipynb_checkpoints/

# --- System / Editor files ---
.DS_Store
.idea/
.vscode/
*.swp

# --- More ---
.pypirc
tree.py
